<section class="registration" id="registration">
  <div class="container">
    <h2 class="registration-title">Регистрация на <span class="registration-span-accent">бесплатную</span> телефонную <span class="registration-span-accent">консультацию</span> по нюансам ЗНО
      по английскому языку</h2>
    <p class="registration-text">Оставь заявку на участие в <span class="registration-span-accent">бесплатном занятии.</span> <br>
      С вами свяжется консультант и ответит на вопросы</p>
    <form class="registration-form">
      <div class="registration-form-div">
        <input type="text" name="name" id="name" placeholder="Имя*" required pattern="^[A-Za-zА-Яа-яЁё]+$" title="Имя может содержать буквы русского или латинского алфавита"  class="registration-form-input" />
        <label for="name" class="registration-form-label">Имя</label>

      </div>
      <div class="registration-form-div">
        <input type="tel" name="tel" id="tel" placeholder="Телефон*" required pattern="[0-9]{10}" title="Введите 10-значный номер телефона" class="registration-form-input" />
        <label for="tel" class="registration-form-label">Телефон</label>

      </div>
     
      
      <button type="submit" class="registration-button">хочу на бесплатное занятие</button>

    </form>
  </div>
</section>